.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  text-align: center;
  justify-content: center;
  display: flex;
  background-color: #d6d6d6;
  margin: 0;
  padding: 0;
  height: 70px;
  vertical-align: middle;
  line-height: 65px;
  height: 65px;
  padding: 16px;
  font-family: "Roboto", sans-serif;
  color: #444444;
  position: sticky;
  top: 0px;
}

.title {
  font-family: "Roboto", sans-serif;
  color: #444444;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}

.Nav {
  text-align: center;
  justify-content: center;
  padding: 10px;
  background-color: #f3f3f3;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0 !important;
  border: 0 !important;
  position: sticky;
  top: 96px;
}
.Nav a:link {
  padding: 0 10px 0 100px;
  text-decoration: none;
}

.articles {
  margin-top: 0 !important;
  border: 0 !important;
  text-align: center;
  justify-content: center;
  padding: 0%;
  margin: 0px !important;
}

.nostyle {
  text-decoration: none;
  text-decoration-style: none;
}

.center {
  text-align: center;
  text-decoration: none;
  text-decoration-style: none;
  font-family: "Roboto", sans-serif;
  justify-content: center;
}

.parallax {
  background: url(https://i.redd.it/92uojpw8udf41.jpg) repeat fixed 100%;
}

.parallax-inner {
  padding-top: 2%;
  padding-bottom: 2%;
}

.text:hover {
  text-decoration: hotpink;
}
